html {
  /*Setting a base font size of 10px give us easier rem calculations
       Info: 1rem === 10px, 1.5rem === 15px, 2rem === 20px and so forth
     */
  font-size: 10px;
}

body {
  /* Native font stack https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  background-color: #03030a54;
  margin: 0;
}

#main {
  margin: auto;
  padding: 15px;
  border-radius: 5px;
}

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 950px;
}

#LathamReport {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 950px;
  padding-bottom: 3rem;
}

#img-div {
  padding: 10px;
  margin: auto;
  filter: sepia(100%);

  image-rendering: auto;
}

#img-caption {
  max-width: 950px;
  margin: auto;
  padding-top: 1.4rem;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#timeline {
  max-width: 500px;
  margin: 10px;
}

#headline {
  margin: 50px 0;
  text-align: center;
  font-size: 3rem;
}

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.3;
}

li {
  margin: 16 0;
}

#img-div1 {
  background: rgba(255, 255, 255, 0.144);
  padding: 10px;
  margin: 0;
}

#image1 {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 950px;
}

#image2 {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 200px;
  padding-top: 30px;
}

#image3 {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 200px;
  padding-top: 30px;
}

#box-container {
  height: 100%;
  display: flex;
  max-width: 1500px;
}

#box-1 {
  background-color: rgba(240, 255, 30, 0.527);
  width: 20%;
  height: 1100px;
}

#box-2 {
  background-color: rgba(0, 255, 13, 0.486);
  width: 50%;
  height: 1100px;
}

#box-3 {
  background-color: rgba(0, 110, 255, 0.486);
  width: 30%;
  height: 1100px;
}

#tribute-info {
  max-width: 500px;
  margin: 30px;
}

#indian {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 950px;
}

.wp-block-columns {
  display: flex;
  margin-bottom: 1.75em;
  box-sizing: border-box;
  flex-wrap: wrap;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

#title {
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background: #eee;
}
